@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.dark {
  background: #000;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}

.login h2 {
  text-align: center;
}

.login form {
  margin: 0 auto;
  border-radius: 10px;
  width: 500px;
  background-color: rgb(248, 245, 245);
  padding: 20px;
}

form input,
label {
  width: 100%;
  margin-bottom: 20px;
}

/* PROFILE */
.profile {
  margin-bottom: 50px;
  background: #eee;
  text-align: center;
}
.profile h3,
p {
  margin-bottom: 10px;
}
